<!-- -*- web -*-
Copyright 2021 Hubert Chathi <hubert@uhoreg.ca>
Copyright 2022 The Matrix.org Foundation C.I.C.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

SPDX-License-Identifier: Apache-2.0
-->

<script lang="ts">
  import InfiniteScroll from "svelte-infinite-scroll";

  import { getContext } from 'svelte';

  const { close } = getContext('simple-modal');

  import type { Client } from "./client";

  export let client: Client;

  let tests: Record<string, any>[] = [];

  let nextBatch: string | undefined = undefined;
  let selected: string | null;

  let search = "";

  let initialLoad = loadTests();

  async function loadTests() {
    const res = await client.roomDirectory(search.trim());
    tests = res.chunk;
    nextBatch = res.next_batch;
  }

  let loadTestPromise: Promise<void> | null;

  async function debounceLoadTests() {
    if (loadTestPromise) {
      return loadTestPromise;
    } else {
      loadTestPromise = new Promise((resolve, reject) => {
        setTimeout(() => {
          loadTestPromise = null;
          try {
            resolve(loadTests());
          } catch (e) {
            reject(e);
          }
        }, 100);
      });
    }
  }

  async function loadMore() {
    nextBatch = undefined;
  }

  function select(id: string) {
    selected = id;
    return undefined;
  }

 async function start() {
   if (selected) {
     await client.join(selected);
     selected = null;
     close();
   }
 }
</script>

<div class="flex flex-col gap-2 w-full pr-8">
  <input class="rounded-md p-2" placeholder="search" type="search" bind:value={search} on:input={debounceLoadTests}>
  {#await initialLoad}
  <div class="loading">Loading... ⏳</div>
  {:then _initialLoad}
  <ul class="grow shrink overflow-auto rounded-md border border-violet-900">
    {#each tests as test (test.room_id)}
    <li class="cursor-pointer px-2 py-1 rounded-md hover:bg-violet-300" on:click={select(test.room_id)} class:selected={selected === test.room_id}>
      <div class="font-bold">{test.name}</div>
      {#if test.topic}
      <div class="test_description">
        {#each test.topic.split("\n") as par}
        <div>{par}</div>
        {/each}
      </div>
      {/if}
    </li>
    {/each}
    <InfiniteScroll hasMore={!!nextBatch} on:loadMore={loadMore} />
  </ul>
  <div class="bar space-x-2"><button type="button" on:click={close}>Cancel</button><button class="primary" type="button" on:click={start} disabled={!selected}>Start test</button></div>
  {:catch _error}
  <div class="error">Error loading tests</div>
  {/await}
</div>

<style>
  ul {
    height: calc(100vh - 12rem);
  }
  li.selected {
    @apply bg-violet-800 text-violet-100;
  }
</style>
