<!-- -*- web -*-
Copyright 2022 The Matrix.org Foundation C.I.C.
Copyright 2022 The Matrix.org Foundation C.I.C.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

SPDX-License-Identifier: Apache-2.0
-->

<script lang="ts">
  import type { IRequest } from "./types";
  export let request: IRequest["request"];
  export let response: IRequest["response"] | undefined;

  function format(): string {
    if (!response || !response.content) {
      return "";
    }
    const contentTypeHeader = response.headers.find(([name, ]) => name.toLowerCase() === "content-type");
    if (contentTypeHeader === undefined) {
      return response.content;
    }
    const contentType = contentTypeHeader[1].split(";")[0];
    if (contentType === "application/json") {
      try {
        return JSON.stringify(JSON.parse(response.content), null, 2);
      } catch (e) {}
    }
    return response.content;
  }
</script>

<div class="request">
  <details>
    <summary class="cursor-pointer"><span class="method">{request.method}</span> <span class="path">{request.path}</span> {#if response}<span class="px-1 rounded-sm status{Math.trunc(response.status / 100)}">{response.status}</span> <span class="duration">({response.duration} ms)</span>{:else}⏳{/if}</summary>

    <div><b>Query string:</b> {request.query_string}</div>
    {#if response && "content" in response}
    <div><b>Response body:</b> <pre>{format()}</pre></div>
    {/if}
  </details>
</div>

<style>
 .status2 {
   @apply bg-green-700 text-white;
 }
 .status3 {
   @apply bg-amber-500 text-black;
 }
 .status4 {
   @apply bg-red-800 text-white;
 }
 .status5 {
   @apply bg-fuchsia-800 text-white;
 }
 pre {
   @apply rounded-md bg-slate-400/50 p-3 border border-slate-800 overflow-y-auto;
 }
</style>
