<!-- -*- web -*-
Copyright 2022 The Matrix.org Foundation C.I.C.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

SPDX-License-Identifier: Apache-2.0
-->

<script lang="ts">
  import type { Client } from "./client";
  import type { IMessage } from "./types";
  import { onMount } from 'svelte';

  export let client: Client;
  export let roomId: string;
  export let message: IMessage;
  export let testOpen: boolean;

  let containerElement: Element;

  function sendResponse(response: string) {
    message.responded = true;
    message = message;
    client.send(roomId, "ca.uhoreg.polyjuice.clienttest.response", {
      "body": response,
      "m.relates_to": {
        "event_id": message.eventId,
        "rel_type": "m.reference"
      }
    });
  }

  function retry() {
    message.responded = true;
    message = message;
    testOpen = false;
    client.join(message.retry);
  }

  onMount(() => {
    containerElement.scrollIntoView();
  });
</script>

<div class="{(message.done ? "done" : "")}" bind:this={containerElement}>
  <span class="message-{message.type || "normal"}">{message.text}</span>
  {#if message.retry}
    <button type="button" on:click={retry} disabled={message.responded}>Retry test</button>
  {/if}
  {#if message.response}
  {#if message.response.type = "choice"}
    <div class="choices space-x-2">
    {#each message.response.choices as choice}
      <button type="button" on:click={() => sendResponse(choice.response)} disabled={message.responded || message.done}>{choice.text}</button>
    {/each}
    </div>
  {/if}
  {/if}
</div>

<style>
  .message-error {
    @apply text-red-800 font-bold before:content-['🚨'];
  }
  .message-warning {
    @apply text-orange-500 before:content-['⚠️'];
  }
  .message-info {
    @apply text-blue-500 before:content-['ℹ️'];
  }
  .message-debug {
    @apply text-gray-500;
  }
  .message-progress {
    @apply before:content-['⏳'];
  }
  .done {
    @apply text-gray-500;
  }
  .done .message-progress {
    @apply before:content-['✔️'];
  }
</style>
